/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* CUSTOMER PROPRIETIES */
:root {
    --nav-bar-height: 250px;
    --footer-height: 100px;
    --color: rgba(255, 255, 255, 0.6)
}


/* COMMON  */
body {
    color: var(--color);
}
.wrapper {
    width: 100%;
    height: 100vh;

    /* DEBUG */
    background-color: lightcoral;
}

.row {
    display: flex;
}

.column {
    flex-direction: column;
}

.space {
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}


/* LAYOUT */
.nav-bar {
    width: var(--nav-bar-height);
    height: calc(100vh - var(--footer-height));
    background-color: black;
}

.content {
    width: calc(100% - var(--nav-bar-height));
    height: calc(100vh - var(--footer-height));

    /* DEBUG */
    border: 1px solid orange;

}


.footer {
    width: 100%;
    height: var(--footer-height);
    /* DEBUG */
    border: 1px solid blue;
}

#logo-main {
    height: 40px;
}

#logo-small {
    display: none;
}

.logo {
    padding: 20px ;
}

.main-button img {
    width: 30px;
}

.main-button a {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.main-button span {
    text-align: center;
    padding: 0 5px;

}

.container-nav {
    padding: 0 20px;
}

#playlist {
    margin-top: 10px;
    text-transform: uppercase;
}

.btn-playlist {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.plus {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    line-height: 30px;
    font-size: 30px;
    background-color: lightgrey;
}

.descrizione-btn {
    text-align: center;
    padding-left: 10px;
    font-size: 16px;
}

.elenco-playlist li {
    padding-bottom: 10px;
    text-transform: capitalize;
}

.install {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.utente {
    display: flex;
    padding: 15px 0 5px;
    align-items: center;
}

.utente i {
    font-size: 25px;
}

#nome-utente {
    font-size: 20px;
    padding-left: 5px;    
}

.button-bg {
    display: flex;
    justify-content: end;
    padding: 10px 10px 20px;
}

#button-up {
    padding: 10px 35px;
    border: 1px solid white;
    border-radius: 25px;
}

.upgrade {
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

